APP_PORT=8080

RDS_ENDPOINT=
RDS_PORT=3306
RDS_DATABASE=coupon
DB_USERNAME=
DB_PASSWORD=

REDIS_HOST=
REDIS_PORT=6379

DB_POOL_MAXIMUM_SIZE=30
DB_POOL_MINIMUM_IDLE=10
DB_POOL_CONNECTION_TIMEOUT=30000
HIBERNATE_DEFAULT_BATCH_FETCH_SIZE=100
